<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SimThyr</string>
	<key>CFBundleName</key>
	<string>SimThyr</string>
	<key>CFBundleGetInfoString</key>
	<string>3.2.3, ©1994-2013 J. W. Dietrich</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.simthyr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SimT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>CFBundleIconFile</key>
	<string>SimThyr.icns</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
				<string>****</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
</dict>
</plist>
